- var pageLang = 'en';

//- Here comes the nex mixins:
//- -outdated browser message (depends of page language)
include ../helpers/mixins

doctype html
html(lang='en')
	head
		// Meta information
		include ../components/meta.jade

		// Head external resources
		include ../components/common/head_src.jade

	body
		// PARKED PAGE - stub just for project init
		include ../components/parked/parked.html

		// Browser update screen
		+ie-out()
