.about-wrap
	+gs-col-6
	+gs-push-6
	float: left
.about-info
	display: none
	margin-top: 110px
	color: $c-contrast_light
	font-size: 18px
	line-height: 22px

	&:before
		margin-bottom: 50px

	&.is-visible
		display: block

	&__title
		margin-bottom: 18px
		font-family: $f-bold

		&_int
			margin-top: 45px

	&__text
		font-family: $f-thin
		margin-bottom: 15px

		&_disclaimer
			margin-top: 35px
			font-family: $f-thini

	&__list
		list-style: none
		font-family: $f-thin

		&-item
			position: relative
			margin-left: 20px

			&:before
				content: '\2022'
				position: absolute
				left: -20px
				display: inline-block
				margin-right: 15px
				color: $c-accent
				font-size: 25px


