.btn-link
	position: relative
	z-index: 5
	display: inline-block
	overflow: hidden
	font-family: $font-black
	text-decoration: none
	text-transform: uppercase
	color: $color-dark
	text-align: center
	font-size: 14px
	line-height: 1
	border-width: 6px
	border-style: solid
	border-color: $color-dark
	+transition(all, .5s)

	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: -1
		display: block
		width: 0
		height: 100%
		visibility: hidden
		background-color: $color-dark
		+skewX(45deg)
		+transition(all, .5s)

	&:hover
		color: $color-light
		&:before
			width: 100%
			visibility: visible

	&.is-hidden
		display: none


	&_home
		width: 100%
		margin: 55px 0
		padding: 20px 0
		font-family: $font-ublack
		font-size: 16px
		@media screen and(max-width: 1170px)
			margin: 40px 0
		@media screen and(max-width: 960px)
			margin: 20px 0

	&_header
		float: right
		width: 170px
		padding: 10px 0
		font-size: 13px
		color: $color-contrast_light
		border-width: 4px
		border-color: $color-contrast_light

		&:before
			background-color: $color-contrast_light
		&:hover
			color: $color-dark
