.partners
	position: relative
	width: 100%

.partners-page
	position: absolute
	top: 0
	left: 0
	right: 0
	display: none
	width: 100%

	&.is-visible
		display: block

	&__item
		position: relative
		display: inline-block
		margin-bottom: 30px
		text-align: left
		text-decoration: none
		background-color: $c-contrast_light
		+gs-column(2)
		+transition(all, .5s)

		&:hover
			+box-shadow(0,0,10px,0, rgba(0,0,0,.1))

		&_general
			+gs-column(4)

		&-logo
			display: block
			max-width: 100%

		&-status
			position: absolute
			top: -20px
			display: inline-block
			font-family: $f-black
			font-size: 11px
			text-transform: uppercase
			letter-spacing: 2px
			color: $c-partn_status
