//Font variables
// prefix-font
$f-black: "pf_encore_sans_problack", Tahoma, Verdana, Arial, sans-serif
$f-bold: "pf_encore_sans_probold", Tahoma, Verdana, Arial, sans-serif
$f-boldi: "pf_encore_sans_probold_italic", Tahoma, Verdana, Arial, sans-serif
$f-light: "pf_encore_sans_prolight", Tahoma, Verdana, Arial, sans-serif
$f-lighti: "pf_encore_sans_proLtIt", Tahoma, Verdana, Arial, sans-serif
$f-medium: "pf_encore_sans_promedium", Tahoma, Verdana, Arial, sans-serif
$f-thin: "pf_encore_sans_prothin", Tahoma, Verdana, Arial, sans-serif
$f-thini: "pf_encore_sans_prothin_italic", Tahoma, Verdana, Arial, sans-serif
$f-ublack: "pf_encore_sans_proultra_black", "pf_encore_sans_problack", Tahoma, Verdana, Arial, sans-serif
$f-uthin: "pf_encore_sans_proultra_thin", Tahoma, Verdana, Arial, sans-serif
$f-xthin: "pf_encore_sans_proextrathin", Tahoma, Verdana, Arial, sans-serif


// Color variables
//Common colors
$c-accent: #f8de2e
$c-dark: #222
$c-light: #e9e9e9
$c-contrast_light: #fff
$c-contrast_dark: #000
$c-bg_light: #e9e9e9
$c-bg_dark: #191919

// Ext components colors
$c-selection_bg: #fff
$c-selection: #000

$c-progress_bg: #222
$c-progress_text: $c-accent

// Specific colors
// prefix-location_key_value

$c-home_title: #111

$c-ticket_descr_light: #777
$c-ticket_descr_gold: #716304
$c-ticket_descr_prem: #999
$c-ticket_cost: #888
$c-ticket_cost_prem: #555
$c-ticket_cost_gold: #857401

$c-progr_border: #c8c8c8

$c-topnav_bg: #2d2d2d
$c-nav_close_hover: #3c3c3c

$c-switchers: #888

$c-btn_dark: #191919
$c-btn_fade: #242424

$c-popup_divider_dark: #393939
$c-popup_btn_dark: #333
$c-popup_close: #555

$c-cat_date: #888
$c-cat_counter: #4a4949
$c-cat-arrow: #a9a9a9

$c-gall-item_title: #010101
$c-gall-item_descr: #242424

$c-partn_status: #999

$c-social_capt: #555

$c-footer: #555



// DATA IMAGES

$i-lunch: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAQAAACxD+fXAAABHklEQVQoz3XSMSjmcRgH8B9/Ot5FJ5fxhiOZ3M7w1i2Gk86oSCmbSUnZDOrqziUjo+XTXRQWl4VuuIsrN53EgEUmkaIuzy2v9329Lz3bt09Pv+d5fkmSTJiVSVX11pRJLUmtVW/MW9PwCDT7JoTwIxnX7kjekpUyUmevQMJt8tkn71zbFAaK6H2RhN9JZsOiTSEcqy+g4TI0liSNVkpBAfUXky3ZQ/s+B0I4lZP0uHRqw19fNEqlp2aGHAqr+tw401Ya4/FeGiwL4UJneV65vlEh7Hr5PBp378q2sK/1aTQt3Mh74btw4HUlqvFRuNMrSXJ2hBMd5Sgz584/H4pdm/wSznWV0KAZCwYrDvxHt59yD6jZVyNVH+WVbetqpf9ydB+KsMmt8AAAAABJRU5ErkJggg=="
