footer.main-footer
	.container
		p.copyright
			| Организатор
			a.copyright__link(href='#')
				img.copyright__img(src='img/uwc.png', alt='uwc logo')
			|  &copy; 2015
		ul.social
			li.social__item
				a.social__link(href='#') Facebook
			li.social__item
				a.social__link(href='#') Вконтакте
			li.social__item
				a.social__link(href='#') Twitter
		p.copyright__contact
			| Мы на связи:
			a(href='mailto:box@uwcua.com')  box@uwcua.com
