// Main footer
footer.main-footer
	.container

		p.copyright
			| Организатор
			a.copyright__link(href='#')
				img.copyright__img(src='img/uwc.png', alt='uwc logo')
			|  &copy; 2015

		// Social buttons
		ul.social.social_footer
			li.social__item
				a.social__item-link.iconfont.iconfont_fb(href='#') Facebook
			li.social__item
				a.social__item-link.iconfont.iconfont_vk(href='#') Вконтакте
			li.social__item
				a.social__item-link.iconfont.iconfont_twi(href='#') Twitter

		p.contact
			| Мы на связи:
			a.contact__link(href='mailto:box@uwcua.com')  box@uwcua.com
