// Main footer
footer.main-footer
	.container

		+b('p').copyright
			| Организатор
			+e.link(href='#')
				+e.img(src='img/uwc.png', alt='uwc logo')
			|  &copy; 2015

		// Social buttons
		+b('ul').social_footer
			+e.item
				+e.item-link.iconfont.iconfont_fb(href='#') Facebook
			+e.item
				+e.item-link.iconfont.iconfont_vk(href='#') Вконтакте
			+e.item
				+e.item-link.iconfont.iconfont_twi(href='#') Twitter

		+b('p').contact
			| Мы на связи:&nbsp;
			+e.link(href='mailto:box@uwcua.com') box@uwcua.com
