header.main-header
	.container
		// Fixed header elements
		+b.top-nav.js-topnav
			+e.navicon.iconfont.iconfont_menu.js-navOpen(href='#') Menu

			+b('ul').languages
				+e.item
					+e('a').link.is-active Ру
				+e.item
					+e.link(href='#') Ук
				+e.item
					+e.link(href='#') En

			a.btn-link.btn-link_header.js-topnavBtn(href='#') Купить билет

// Main navigation
+b('nav').main-nav.js-nav
	.container
		+e.wrap
			a.iconfont.iconfont_close.js-navClose(href='#') Close
			+e('ul').list
				+e.item
					+e.link.js-anchor.is-active(href='#home') Главная
				+e.item
					+e.link.js-anchor(href='#news') Что нового?
				+e.item
					+e.link.js-anchor(href='#about') Для кого?
				+e.item
					+e.link.js-anchor(href='#speakers') Спикеры
				+e.item
					+e.link.js-anchor(href='#program') Программа
				+e.item
					+e.link.js-anchor(href='#tickets') Билеты
				+e.item
					+e.link.js-anchor(href='#videos') Видео
				+e.item
					+e.link.js-anchor(href='#partners') Партеры

// Screen switchers
+b('ul').switchers.js-switchers
	+e.item
		+e.link.js-anchor.is-active(href='#home') Главная
	+e.item
		+e.link.js-anchor(href='#news') Что нового?
	+e.item
		+e.link.js-anchor(href='#about') Для кого?
	+e.item
		+e.link.js-anchor(href='#speakers') Спикеры
	+e.item
		+e.link.js-anchor(href='#program') Программа
	+e.item
		+e.link.js-anchor(href='#tickets') Билеты
	+e.item
		+e.link.js-anchor(href='#videos') Видео
	+e.item
		+e.link.js-anchor(href='#partners') Партеры
