header.main-header
	.container
		// Fixed header elements
		.top-nav
			a.iconfont.iconfont_menu(href='#') Open

			ul.languages
				li.languages__item
					a.languages__link.is-active Ру
				li.languages__item
					a.languages__link(href='#') Ук
				li.languages__item
					a.languages__link(href='#') En

			a.btn-link.btn-link_header.is-hidden(href='#') Купить билет

// Main navigation
nav.main-nav
	.container
		.main-nav__wrap
			a.iconfont.iconfont_close(href='#') Close
			ul.main-nav__list
				li.main-nav__item
					a.main-nav__link.is-active(href='#home') Главная
				li.main-nav__item
					a.main-nav__link(href='#news') Что нового?
				li.main-nav__item
					a.main-nav__link(href='#about') Для кого?
				li.main-nav__item
					a.main-nav__link(href='#speakers') Спикеры
				li.main-nav__item
					a.main-nav__link(href='#program') Программа
				li.main-nav__item
					a.main-nav__link(href='#tickets') Билеты
				li.main-nav__item
					a.main-nav__link(href='#video') Видео
				li.main-nav__item
					a.main-nav__link(href='#partners') Партеры

// Screen switchers
ul.switchers
	li.switchers__item
		a.switchers__link.is-active(href='#home') Главная
	li.switchers__item
		a.switchers__link(href='#news') Что нового?
	li.switchers__item
		a.switchers__link(href='#about') Для кого?
	li.switchers__item
		a.switchers__link(href='#speakers') Спикеры
	li.switchers__item
		a.switchers__link(href='#program') Программа
	li.switchers__item
		a.switchers__link(href='#tickets') Билеты
	li.switchers__item
		a.switchers__link(href='#video') Видео
	li.switchers__item
		a.switchers__link(href='#partners') Партеры
