meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title UaWebChallengeVII front-end 1+
meta(name='description', content='UaWebChallengeVII front-end dev middle-senior task')
meta(name='viewport', content='width=device-width, initial-scale=1')
<!--Opengraph-->
meta(property='og:type', content='website')
meta(property='og:title', content='UaWebChallengeVII front-end 1+')
meta(property='og:description', content='UaWebChallengeVII front-end dev middle-senior task')
meta(property='og:image', content='img/card.jpg')
meta(property='og:url', content='https://github.com/orlovmax/uawebchallengeVII')
<!--TwitterCard-->
meta(name='twitter:card', content='summary')
meta(name='twitter:title', content='UaWebChallengeVII front-end 1+')
meta(name='twitter:description', content='UaWebChallengeVII front-end dev middle-senior task')
meta(name='twitter:image:src', content='img/card.jpg')
meta(name='twitter:creator', content='@orlovmax_im')
meta(name='twitter:site', content='@orlovmax_im')
meta(name='twitter:url', content='https://github.com/orlovmax/uawebchallengeVII')