section#home.screen.screen_home.screen_bg_home
	.container
		// Main info
		aside.screen__aside.screen__aside_home.screen__aside_cor
			.home-info
				h1.home-info__title
					span.home-info__title-thin It
					span.home-info__title-br Confe
					span.home-info__title-spacing rence
					span.home-info__title-thin  И
					span.home-info__title-pos  Я
				p.home-info__date
					time(datetime="2015-04-12") 12
					|  -
					time(datetime="2015-04-18")  18
					|  &nbsp;апреля

				a.btn-link.btn-link_home(href='#') Купить билет
				p.home-info__afterword  ... у нас интересней всего ©Женя
