+b('section')#partners.screen_partn.js-toggle
	.container
		+e('h2').title._partn Партнеры

		// Top screen navigation
		+b('nav').cat_hor
			+e('ul').list
				+e.item._hor._hor_partn
					+e.link._hor._hor_partn.js-togglelink.is-active(href='#main-partners') Партнеры
				+e.item._hor._hor_partn
					+e.link._hor._hor_partn.js-togglelink(href='#info-partners') Инфо-партнеры

		.partners
			// Target information
			+b#main-partners.partners-page.js-toggletarget.is-visible
				+e.item._general(href='#')
					+e.item-status Генеральный партнер
					+e.item-logo(src='img/partners/par1.png', alt='Partner1')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par2.png', alt='Partner2')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par3.png', alt='Partner3')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par4.png', alt='Partner4')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par5.png', alt='Partner5')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par6.png', alt='Partner6')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par7.png', alt='Partner7')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par2.png', alt='Partner8')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par3.png', alt='Partner9')

			+b#info-partners.partners-page.js-toggletarget
				+e.item(href='#')
					+e.item-logo(src='img/partners/par6.png', alt='Partner6')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par7.png', alt='Partner7')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par4.png', alt='Partner10')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par2.png', alt='Partner2')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par3.png', alt='Partner3')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par4.png', alt='Partner4')

				+e.item(href='#')
					+e.item-logo(src='img/partners/par5.png', alt='Partner5')
