+b('section')#speakers.screen_speak.js-toggle.js-filter
	.container
		+e('h2').title._speak Спикеры

		// Top screen category filter
		+b('nav').cat_hor
			+e('ul').list._hor_speak
				+e.item._hor._hor_speak
					+e.link._hor._hor_speak.js-filterlink.is-active(href='#all') Все спикеры
				+e.item._hor._hor_speak
					+e.link._hor._hor_speak.js-filterlink(href='#front-end') Front-end
				+e.item._hor._hor_speak
					+e.link._hor._hor_speak.js-filterlink(href='#back-end') Back-end
				+e.item._hor._hor_speak
					+e.link._hor._hor_speak.js-filterlink(href='#qa') QA
				+e.item._hor._hor_speak
					+e.link._hor._hor_speak.js-filterlink(href='#web-design') Web-design
				+e.item._hor._contr.js-controls
					+e('p').item-counter
						span.js-counterCur -
						| /
						span.js-counterTot -
					+e('a').item-btn.iconfont.iconfont_prev.iconfont_ctrl_prev.js-controlsPrev() Назад
					+e('a').item-btn.iconfont.iconfont_next.iconfont_ctrl_next.js-controlsNext() Вперед

		// Spoiler-styled speakers list
		+b.gall_speak.js-galllist
			// ok, that's first 6 visible persons...
			+b('figure').gall-item_pers.js-filterItem(data-cat='all back-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp1.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all back-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp2.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Юрий Миколишин
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all back-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp3.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Юрий Артюх
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all back-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp4.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Александр Майданюк
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all qa')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp5.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Дарья Горницская
					+e('p').capt-descr Віце-президент GlobalLogic. Керівник київського центру інжинірингу компанії

			+b('figure').gall-item_pers.js-filterItem(data-cat='all back-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp6.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Андрей Яворский
					+e('p').capt-descr розработчик комплексных back-end решений

			// ... and here comes other speakers
			+b('figure').gall-item_pers.js-filterItem(data-cat='all front-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp1.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all back-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp3.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Юрий Миколишин
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all web-design front-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp2.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Юрий Артюх
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all qa')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp6.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Александр Майданюк
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all front-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp5.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Дарья Горницская
					+e('p').capt-descr Віце-президент GlobalLogic. Керівник київського центру інжинірингу компанії

			+b('figure').gall-item_pers.js-filterItem(data-cat='all qa web-design')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp4.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Андрей Яворский
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all front-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp1.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all back-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp3.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Юрий Миколишин
					+e('p').capt-descr розработчик комплексных back-end решений

			+b('figure').gall-item_pers.js-filterItem(data-cat='all web-design front-end')
				+e.link.js-togglelink(href='#speaker1')
					+e.link-pic(src='img/speakers/sp2.jpg', alt='Speaker')
				+e('figcaption').capt
					+e('h3').capt-title Юрий Артюх
					+e('p').capt-descr розработчик комплексных back-end решений

		+b.btn-link_speak.js-showall(href='#') Показать всех


	// And here comes popup windows
	+b('section')#speaker1.popup.js-togglepopup
		.container
			+e.close.iconfont.iconfont_close.iconfont_close_popup.js-toggleclose(href='#') Close
			.popup-content
				+e('header').header
					+e('h3').title Build tons of multi-device JavaScript applications, design patterns &amp; high performance UI

				+e.info
					+e('p').text
						| И вот я беру хрустальный шар и вангую, что уже совсем скоро все изменится.
						br
						| Мы вступаем в эпоху Дилетантов. Клиенты будут решать большинство веб-задач без привлечения специально обученных людей (нас).
					+e('ul').list
						+e.item search engine marketing (SEM)
						+e.item display advertising
						+e.item remarketing
						+e.item E-mail marketing
						+e.item Google Analytics
					+e('p').text Остальное — на лекции. До встречи.
					+e('h4').sign Олександр Трегуб
					+e('p').text Арт-директор дизайн-студии Akademia, сооснователь курса веб-дизайна в Школе визуальных технологий, автор 'Метода казанка'.
					+e('p').text Язык выступления: русский

				+e('footer').footer
					+b('a').btn-link_popup._popup_dark(href='#') Купить билет
					+b('ul').social_popup
						+e.caption Поделиться
						+e.item
							+e.item-link.iconfont.iconfont_fb(href='#') Facebook
						+e.item
							+e.item-link.iconfont.iconfont_vk(href='#') Вконтакте
						+e.item
							+e.item-link.iconfont.iconfont_twi(href='#') Twitter
