+b('section')#videos.screen_vid.js-toggle
	.container
		+e('h2').title._vid Видео

		// Video gallery
		+b.gall_vid
			+b('figure').gall-item_vid
				+e.link_vid.icon.icon_play.js-togglelink(href='#vid1')
					+e.link-pic(src='img/vid_thumb/vid1.jpg', alt='Video thumb')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax

			+b('figure').gall-item_vid
				+e.link_vid.icon.icon_play.js-togglelink(href='#vid1')
					+e.link-pic(src='img/vid_thumb/vid2.jpg', alt='Video thumb')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax

			+b('figure').gall-item_vid
				+e.link_vid.icon.icon_play.js-togglelink(href='#vid1')
					+e.link-pic(src='img/vid_thumb/vid3.jpg', alt='Video thumb')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax

			+b('figure').gall-item_vid
				+e.link_vid.icon.icon_play.js-togglelink(href='#vid1')
					+e.link-pic(src='img/vid_thumb/vid4.jpg', alt='Video thumb')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax
			+b('figure').gall-item_vid
				+e.link_vid.icon.icon_play.js-togglelink(href='#vid1')
					+e.link-pic(src='img/vid_thumb/vid1.jpg', alt='Video thumb')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax

			+b('figure').gall-item_vid
				+e.link_vid.icon.icon_play.js-togglelink(href='#vid1')
					+e.link-pic(src='img/vid_thumb/vid2.jpg', alt='Video thumb')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax

			+b('figure').gall-item_vid
				+e.link_vid.icon.icon_play.js-togglelink(href='#vid1')
					+e.link-pic(src='img/vid_thumb/vid3.jpg', alt='Video thumb')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax

			+b('figure').gall-item_vid
				+e.link_vid.icon.icon_play.js-togglelink(href='#vid1')
					+e.link-pic(src='img/vid_thumb/vid4.jpg', alt='Video thumb')
				+e('figcaption').capt
					+e('h3').capt-title Jean-Baptiste Guerrax

	// And here comes target popup windows
	+b('section')#vid1.popup.js-togglepopup
		.container
			+e.close.iconfont.iconfont_close.iconfont_close_popup.js-toggleclose(href='#') Close
			.popup-content
				+e('header').header
					+e('h3').title Build tons of multi-device JavaScript applications, design patterns &amp; high performance UI

				+e.info
					+e.video
						//- iframe(width='800' height='400' src='//www.youtube.com/embed/kPDnw3_1GOI?html5=1' frameborder='0' allowfullscreen)

				+e('footer').footer
					+b('ul').social_popup
						+e.caption Поделиться
						+e.item
							+e.item-link.iconfont.iconfont_fb(href='#') Facebook
						+e.item
							+e.item-link.iconfont.iconfont_vk(href='#') Вконтакте
						+e.item
							+e.item-link.iconfont.iconfont_twi(href='#') Twitter
