+b#tickets.screen_ticket

	// Ticket item
	+b('section').ticket_light
		+e('header').header.icon.icon_light-tc
			+e('h2').title Light
			+e('p').descr лучший вариант если Вас интересует только одно направление

		+e('ul').list
			+e.list-item посещение 1 дня на выбор
			+e.list-item бонусный день - первый или последний на выбор
			+e.list-item раздаточный материал с доставкой
			+e.list-item запись выступлений Ваших дней

		+e('footer').footer
			+e('p').cost
				+e.cost-extra
					+e.cost-val 450
					|  грн
				|  / с 01.03 -
				+e.cost-val 550
				|  грн
			+b.btn-link_ticket(href='#') Купить билет

	// Ticket item
	+b('section').ticket_gold
		+e('header').header.icon.icon_gold-tc
			+e('h2').title Gold
			+e('p').descr._gold если Вас интересует два направления, тогда выбирайте:

		+e('ul').list
			+e.list-item посещение 2 дней на выбор
			+e.list-item бонусный день - первый или последний на выбор
			+e.list-item раздаточный материал с доставкой
			+e.list-item запись выступлений
			+e.list-item возможность выиграть призы и сувениры 

		+e('footer').footer
			+e('p').cost._gold
				+e.cost-extra
					+e.cost-val 650
					|  грн
				|  / с 01.03 -
				+e.cost-val 750
				|  грн
			+b.btn-link_ticket(href='#') Купить билет

	// Ticket item
	+b('section').ticket_prem
		+e('header').header.icon.icon_prem-tc
			+e('h2').title._prem Premium
			+e('p').descr._prem эта неделя станет серьёзным вкладом в себя

		+e('ul').list
			+e.list-item.ticket__list-item_prem посещение всех дней
			+e.list-item.ticket__list-item_prem записи всех выступлений
			+e.list-item.ticket__list-item_prem раздаточный материал с доставкой
			+e.list-item.ticket__list-item_prem приглашение послушать доклады в офисе Web Challenge
			+e.list-item.ticket__list-item_prem личный кабинет участника с доступом к материалам выступлений
			+e.list-item.ticket__list-item_prem возможность выиграть призы и сувениры
		+e('footer').footer
			+e('p').cost._prem
				+e.cost-extra.ticket__cost-extra_prem
					+e.cost-val 1200
					|  грн
				|  / с 01.03 -
				+e.cost-val 1300
				|  грн
			+b.btn-link_ticket._ticket_prem(href='#') Купить билет
