section#partners.screen.screen_partn
	.container
		header.screen__header
			h2.screen__title.screen__title_partn Партнеры

		// Top screen navigation
		nav.cat.cat_partn
			ul.cat__list
				li.cat__item.cat__item_partn
					a.cat__link.cat__link_partn.is-active(href='#partners') Партнеры
				li.cat__item.cat__item_partn
					a.cat__link.cat__link_partn(href='#info-partners') Инфо-партнеры

		.partners
			// Target information
			#partners.partners__page.is-visible
				a.partners__item.partners__item_general(href='#')
					span.partners__status Генеральный партнер
					img.partners__logo(src='img/partners/par1.png', alt='Partner1')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par2.png', alt='Partner2')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par3.png', alt='Partner3')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par4.png', alt='Partner4')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par5.png', alt='Partner5')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par6.png', alt='Partner6')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par7.png', alt='Partner7')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par2.png', alt='Partner8')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par3.png', alt='Partner9')

			#info-partners.partners__page
				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par6.png', alt='Partner6')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par7.png', alt='Partner7')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par4.png', alt='Partner10')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par2.png', alt='Partner2')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par3.png', alt='Partner3')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par4.png', alt='Partner4')

				a.partners__item(href='#')
					img.partners__logo(src='img/partners/par5.png', alt='Partner5')
