section#videos.screen.screen_vid
	.container
		header.screen__header.screen__header_vid
			h2 Видео

		// Video gallery
		.gall.gall_vid
			figure.gall-item.gall-item_vid
				a.icon.icon_play(href='#vid1') Смотреть видео
				img.gall-item__pic(src='img/vid_thumb/vid1.jpg', alt='Video thumb')
				figcaption.gall-item__caption
					h3.gall-item__title Jean-Baptiste Guerrax

			figure.gall-item.gall-item_vid
				a.icon.icon_play(href='#vid1') Смотреть видео
				img.gall-item__pic(src='img/vid_thumb/vid2.jpg', alt='Video thumb')
				figcaption.gall-item__caption
					h3.gall-item__title Jean-Baptiste Guerrax

			figure.gall-item.gall-item_vid
				a.icon.icon_play(href='#vid1') Смотреть видео
				img.gall-item__pic(src='img/vid_thumb/vid3.jpg', alt='Video thumb')
				figcaption.gall-item__caption
					h3.gall-item__title Jean-Baptiste Guerrax

			figure.gall-item.gall-item_vid
				a.icon.icon_play(href='#vid1') Смотреть видео
				img.gall-item__pic(src='img/vid_thumb/vid4.jpg', alt='Video thumb')
				figcaption.gall-item__caption
					h3.gall-item__title Jean-Baptiste Guerrax
			figure.gall-item.gall-item_vid
				a.icon.icon_play(href='#vid1') Смотреть видео
				img.gall-item__pic(src='img/vid_thumb/vid1.jpg', alt='Video thumb')
				figcaption.gall-item__caption
					h3.gall-item__title Jean-Baptiste Guerrax

			figure.gall-item.gall-item_vid
				a.icon.icon_play(href='#vid1') Смотреть видео
				img.gall-item__pic(src='img/vid_thumb/vid2.jpg', alt='Video thumb')
				figcaption.gall-item__caption
					h3.gall-item__title Jean-Baptiste Guerrax

			figure.gall-item.gall-item_vid
				a.icon.icon_play(href='#vid1') Смотреть видео
				img.gall-item__pic(src='img/vid_thumb/vid3.jpg', alt='Video thumb')
				figcaption.gall-item__caption
					h3.gall-item__title Jean-Baptiste Guerrax

			figure.gall-item.gall-item_vid
				a.icon.icon_play(href='#vid1') Смотреть видео
				img.gall-item__pic(src='img/vid_thumb/vid4.jpg', alt='Video thumb')
				figcaption.gall-item__caption
					h3.gall-item__title Jean-Baptiste Guerrax

	// And here comes target popup windows
	section#vid1.popup.popup_vid
		.container
			a.iconfont.iconfont_close.iconfont_close_pop(href='#') Close
			header.popup__header
				h3.popup__title Build tons of multi-device JavaScript applications, design patterns &amp; high performance UI

			.popup__info
				// And here comes iframe or video element...

			footer.popup__footer
				a.btn-link.btn-link_popup_vid(href='#') Купить билет
				ul.social
					li.social__caption Поделиться
					li.social__item
						a.social__link(href='#') Facebook
					li.social__item
						a.social__link(href='#') Вконтакте
					li.social__item
						a.social__link(href='#') Twitter
