section#news.screen.screen_news
	.container
		h2.screen__title.screen__title_news Что нового?

		ul.news
			li.news__item.icon.icon_conf-news
				h3.news__item-title Первая в Украине онлайн конференция для разработчиков
				p.news__item-text Шесть дней докладов , которые Вы слушаете не выходя из дома или офиса. Это будет самая интенсивная неделя для Вашего профессионального развития
			li.news__item.icon.icon_dev-news
				h3.news__item-title Всестороннее развитие
				p.news__item-text Бекенд разработчики интересуются фронтенд новинками, тестировщики - бекендом, дизайнеры - фронтендом, а фронтенды - дизайном. Мы даём возможность всем удовлетворить свой интерес, не бегая на три-четыре профильных конференции

		ul.news
			li.news__item.icon.icon_aft-news
				h3.news__item-title Душевная оффлайн автепати
				p.news__item-text Только для участников ІТ-Конференции и экспертов. Вы сможете пропустить пару бокальчиков с коллегами по цеху или  поужинать вместе с экспертом
			li.news__item.icon.icon_themes-news
				h3.news__item-title Все темы  уникальны
				p.news__item-text
					| Ранее спикеры с ними нигде не выступали.
					br
					| Спикеры – признанные эксперты и реальные практики
