// News screen
+b('section')#news.screen_news
	.container
		+e('h2').title._news Что нового?

		// Just a simple grid layout
		+b('ul').news
			+e.item.icon.icon_conf-news
				+e('h3').item-title Первая в Украине онлайн конференция для разработчиков
				+e('p').item-text Шесть дней докладов , которые Вы слушаете не выходя из дома или офиса. Это будет самая интенсивная неделя для Вашего профессионального развития
			+e.item.icon.icon_dev-news
				+e('h3').item-title Всестороннее развитие
				+e('p').item-text Бекенд разработчики интересуются фронтенд новинками, тестировщики - бекендом, дизайнеры - фронтендом, а фронтенды - дизайном. Мы даём возможность всем удовлетворить свой интерес, не бегая на три-четыре профильных конференции

		+b('ul').news
			+e.item.icon.icon_aft-news
				+e('h3').item-title Душевная оффлайн автепати
				+e('p').item-text Только для участников ІТ-Конференции и экспертов. Вы сможете пропустить пару бокальчиков с коллегами по цеху или  поужинать вместе с экспертом
			+e.item.icon.icon_themes-news
				+e('h3').item-title Все темы  уникальны
				+e('p').item-text
					| Ранее спикеры с ними нигде не выступали.
					br
					| Спикеры – признанные эксперты и реальные практики
