section#program.screen.screen_progr.screen_bg_color
	.container
		aside.screen__aside.screen__aside_progr
			h2.screen__title.screen__title_progr Программа

			// Sidebar with screen navigation
			nav.cat.cat_vert.cat_vert_progr
				ul.cat__list
					li.cat__item.cat__item_vert
						a.cat__link.cat__link_vert.is-active(href='#all-events')
							span.cat__time
								time(datetime="2015-04-12") 12.04
								|  -
								time(datetime="2015-04-18")  18.04
							|  Вся программа
					li.cat__item.cat__item_vert
						a.cat__link.cat__link_vert(href='#opening')
							span.cat__time
								time(datetime="2015-04-12") 12.04 / вс
							|  Opening
					li.cat__item.cat__item_vert
						a.cat__link.cat__link_vert(href='#front-end-day')
							span.cat__time
								time(datetime="2015-04-13") 13.04 / пн
							|  Front-end day
					li.cat__item.cat__item_vert
						a.cat__link.cat__link_vert(href='#back-end-day')
							span.cat__time
								time(datetime="2015-04-14") 14.04 / вт
							|  Back-end day
					li.cat__item.cat__item_vert
						a.cat__link.cat__link_vert(href='#testers-day')
							span.cat__time
								time(datetime="2015-04-15") 15.04 / ср
							|  QA day
					li.cat__item.cat__item_vert
						a.cat__link.cat__link_vert(href='#web-designers-day')
							span.cat__time
								time(datetime="2015-04-16")  16.04 / чт
							|  Web-design day
					li.cat__item.cat__item_vert
						a.cat__link.cat__link_vert(href='#soft-skills-day')
							span.cat__time
								time(datetime="2015-04-17") 17.04 / пт
							|  Soft skills
					li.cat__item.cat__item_vert
						a.cat__link.cat__link_vert(href='#afterparty')
							span.cat__time
								time(datetime="2015-04-18") 18.04 / сб
							|  Afterparty


		// Target information
		// All events
		.events-wrap
			#all-events.events


			// Opening events
			#opening.events(class="all")
				.event.event_extra
					p.event__meta
						span.event__time
							time(datetime="2015-04-12") 12.04
						span.event__info Opening day
				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-12 09:00") 09:00
							| -
							time(datetime="2015-04-12 10:00") 10:00
						span.event__info Александр Трегуб
					h3.event__title Что будет с индустрией через 5-10 лет

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-12 10:00") 10:00
							| -
							time(datetime="2015-04-12 11:00") 11:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-12 12:00") 12:00
							| -
							time(datetime="2015-04-12 13:00") 13:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

				.event.event_lunch
					p.event__meta
						span.event__time
							time(datetime="2015-04-12 13:00") 13:00
							| -
							time(datetime="2015-04-12 14:00") 14:00
						span.event__info.event__info_lunch Обед

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-12 15:00") 15:00
							| -
							time(datetime="2015-04-12 16:00") 16:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

			// Front-end events
			#front-end-day.events(class="all")
				.event.event_extra
					p.event__meta
						span.event__time
							time(datetime="2015-04-13") 13.04
						span.event__info Front-end day
				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-13 09:00") 09:00
							| -
							time(datetime="2015-04-13 10:00") 10:00
						span.event__info Александр Трегуб
					h3.event__title Что будет с индустрией через 5-10 лет

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-13 10:00") 10:00
							| -
							time(datetime="2015-04-13 11:00") 11:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-13 11:00") 11:00
							| -
							time(datetime="2015-04-13 12:00") 12:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-13 12:00") 12:00
							| -
							time(datetime="2015-04-13 13:00") 13:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

				.event.event_lunch
					p.event__meta
						span.event__time
							time(datetime="2015-04-13 13:00") 13:00
							| -
							time(datetime="2015-04-13 14:00") 14:00
						span.event__info.event__info_lunch Обед

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-13 15:00") 15:00
							| -
							time(datetime="2015-04-13 16:00") 16:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-13 16:00") 16:00
							| -
							time(datetime="2015-04-13 17:00") 17:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-13 17:00") 17:00
							| -
							time(datetime="2015-04-13 18:00") 18:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

			// Back-end events
			#back-end-day.events(class="all")
				.event.event_extra
					p.event__meta
						span.event__time
							time(datetime="2015-04-14") 14.04
						span.event__info Back-end day
				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-14 09:00") 09:00
							| -
							time(datetime="2015-04-14 10:00") 10:00
						span.event__info Александр Трегуб
					h3.event__title Что будет с индустрией через 5-10 лет

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-14 10:00") 10:00
							| -
							time(datetime="2015-04-14 11:00") 11:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-14 11:00") 11:00
							| -
							time(datetime="2015-04-14 12:00") 12:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

				.event.event_lunch
					p.event__meta
						span.event__time
							time(datetime="2015-04-14 13:00") 13:00
							| -
							time(datetime="2015-04-14 14:00") 14:00
						span.event__info.event__info_lunch Обед

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-14 14:00") 14:00
							| -
							time(datetime="2015-04-14 15:00") 15:00
						span.event__info Jean-Baptiste Guerraz &amp; Igor Uzlov
					h3.event__title Build tons of multi-device JavaScript applications, design patterns &amp; high performance UI

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-14 15:00") 15:00
							| -
							time(datetime="2015-04-14 16:00") 16:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-14 17:00") 17:00
							| -
							time(datetime="2015-04-14 18:00") 18:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

			// Testers events
			#testers-day.events(class="all")
				.event.event_extra
					p.event__meta
						span.event__time
							time(datetime="2015-04-15") 15.04
						span.event__info Testers day
				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-15 10:00") 10:00
							| -
							time(datetime="2015-04-15 11:00") 11:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-15 11:00") 11:00
							| -
							time(datetime="2015-04-15 12:00") 12:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-15 12:00") 12:00
							| -
							time(datetime="2015-04-15 13:00") 13:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

				.event.event_lunch
					p.event__meta
						span.event__time
							time(datetime="2015-04-15 13:00") 13:00
							| -
							time(datetime="2015-04-15 14:00") 14:00
						span.event__info.event__info_lunch Обед

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-15 14:00") 14:00
							| -
							time(datetime="2015-04-15 15:00") 15:00
						span.event__info Jean-Baptiste Guerraz &amp; Igor Uzlov
					h3.event__title Build tons of multi-device JavaScript applications, design patterns &amp; high performance UI

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-15 15:00") 15:00
							| -
							time(datetime="2015-04-15 16:00") 16:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-15 16:00") 16:00
							| -
							time(datetime="2015-04-15 17:00") 17:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

			// Web-design events
			#web-designers-day.events.is-active(class="all")
				.event.event_extra
					p.event__meta
						span.event__time
							time(datetime="2015-04-16") 16.04
						span.event__info Web-design day
				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 09:00") 09:00
							| -
							time(datetime="2015-04-16 10:00") 10:00
						span.event__info Александр Трегуб
					h3.event__title Что будет с индустрией через 5-10 лет

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 10:00") 10:00
							| -
							time(datetime="2015-04-16 11:00") 11:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 11:00") 11:00
							| -
							time(datetime="2015-04-16 12:00") 12:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 12:00") 12:00
							| -
							time(datetime="2015-04-16 13:00") 13:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

				.event.event_lunch
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 13:00") 13:00
							| -
							time(datetime="2015-04-16 14:00") 14:00
						span.event__info.event__info_lunch Обед

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 14:00") 14:00
							| -
							time(datetime="2015-04-16 15:00") 15:00
						span.event__info Jean-Baptiste Guerraz &amp; Igor Uzlov
					h3.event__title Build tons of multi-device JavaScript applications, design patterns &amp; high performance UI

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 15:00") 15:00
							| -
							time(datetime="2015-04-16 16:00") 16:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 16:00") 16:00
							| -
							time(datetime="2015-04-16 17:00") 17:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-16 17:00") 17:00
							| -
							time(datetime="2015-04-16 18:00") 18:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

			// Soft skills events
			#soft-skills-day.events(class="all")
				.event.event_extra
					p.event__meta
						span.event__time
							time(datetime="2015-04-17") 17.04
						span.event__info Soft skills day
				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 09:00") 09:00
							| -
							time(datetime="2015-04-17 10:00") 10:00
						span.event__info Александр Трегуб
					h3.event__title Что будет с индустрией через 5-10 лет

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 10:00") 10:00
							| -
							time(datetime="2015-04-17 11:00") 11:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 11:00") 11:00
							| -
							time(datetime="2015-04-17 12:00") 12:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 12:00") 12:00
							| -
							time(datetime="2015-04-17 13:00") 13:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

				.event.event_lunch
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 13:00") 13:00
							| -
							time(datetime="2015-04-17 14:00") 14:00
						span.event__info.event__info_lunch Обед

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 14:00") 14:00
							| -
							time(datetime="2015-04-17 15:00") 15:00
						span.event__info Jean-Baptiste Guerraz &amp; Igor Uzlov
					h3.event__title Build tons of multi-device JavaScript applications, design patterns &amp; high performance UI

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 15:00") 15:00
							| -
							time(datetime="2015-04-17 16:00") 16:00
						span.event__info Максим Сохацкий
					h3.event__title Размер ПО как критерий эффективности, надежности и гибкости

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 16:00") 16:00
							| -
							time(datetime="2015-04-17 17:00") 17:00
						span.event__info Василий Маланка
					h3.event__title Влияние выхода платформы Magento 2.0 на мир E-commerce

				a.event(href="#ev1")
					p.event__meta
						span.event__time
							time(datetime="2015-04-17 17:00") 17:00
							| -
							time(datetime="2015-04-17 18:00") 18:00
						span.event__info Артем костенко
					h3.event__title Место юзабилити в процессе разработки. Мечты и реалии

			// Afterparty
			#afterparty.afterparty.icon.icon_ev-aft
				p.afterparty__text
					| Душевное автепати в конце недельной конференции.
					br
					| Живая музыка, море напитков и угощений. Лёгкая атмосфера для общения и знакомств.
				p.afterparty__text.afterparty__text_note Вечеринка будет закрытой: только участники и спикеры ІТ-Конференции.
				p.afterparty__text
					| Стоимость:
					span.afterparty__price  300
					|  грн.


	// And here comes popup windows
	section#ev1.popup.popup_light
		.container
			a.popup__close.popup__close_dark.iconfont.iconfont_close(href='#') Close
			.popup-content
				header.popup__header
					h3.popup__title Build tons of multi-device JavaScript applications, design patterns &amp; high performance UI

				.popup__info.popup_info_light
					p.popup__text
						| И вот я беру хрустальный шар и вангую, что уже совсем скоро все изменится.
						br
						| Мы вступаем в эпоху Дилетантов. Клиенты будут решать большинство веб-задач без привлечения специально обученных людей (нас).
					ul.popup__list
						li.popup__list-item search engine marketing (SEM)
						li.popup__list-item display advertising
						li.popup__list-item remarketing
						li.popup__list-item E-mail marketing
						li.popup__list-item Google Analytics
					p.popup__text Остальное — на лекции. До встречи.
					h4.popup__sign Олександр Трегуб
					p.popup__text Арт-директор дизайн-студии Akademia, сооснователь курса веб-дизайна в Школе визуальных технологий, автор 'Метода казанка'.
					p.popup__text Язык выступления: русский

				footer.popup__footer
					a.btn-link.btn-link_popup.btn-link_popup_light(href='#') Купить билет
					ul.popup__social.social
						li.social__caption Поделиться
						li.social__item
							a.social__item-link.iconfont.iconfont_fb(href='#') Facebook
						li.social__item
							a.social__item-link.iconfont.iconfont_vk(href='#') Вконтакте
						li.social__item
							a.social__item-link.iconfont.iconfont_twi(href='#') Twitter
