section#partners.screen.screen_partn
	.container
		h2.screen__title.screen__title_partn Партнеры

		// Top screen navigation
		nav.cat.cat_hor
			ul.cat__list
				li.cat__item.cat__item_hor.cat__item_hor_partn
					a.cat__link.cat__link_hor.cat__link_hor_partn.is-active(href='#partners') Партнеры
				li.cat__item.cat__item_hor.cat__item_hor_partn
					a.cat__link.cat__link_hor.cat__link_hor_partn(href='#info-partners') Инфо-партнеры

		.partners
			// Target information
			#partners.partners-page.is-visible
				a.partners-page__item.partners-page__item_general(href='#')
					span.partners-page__item-status Генеральный партнер
					img.partners-page__item-logo(src='img/partners/par1.png', alt='Partner1')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par2.png', alt='Partner2')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par3.png', alt='Partner3')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par4.png', alt='Partner4')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par5.png', alt='Partner5')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par6.png', alt='Partner6')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par7.png', alt='Partner7')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par2.png', alt='Partner8')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par3.png', alt='Partner9')

			#info-partners.partners-page
				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par6.png', alt='Partner6')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par7.png', alt='Partner7')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par4.png', alt='Partner10')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par2.png', alt='Partner2')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par3.png', alt='Partner3')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par4.png', alt='Partner4')

				a.partners-page__item(href='#')
					img.partners-page__item-logo(src='img/partners/par5.png', alt='Partner5')
