+b('section')#home.screen_home._bg_home
	.container
		// Main info
		+e('aside').aside._home._cor.is-corner
			+b.home-info
				+e('h1').title
					+e('span').title-thin It
					+e('span').title-br Confe
					+e('span').title-spacing rence
					+e('span').title-thin  И
					+e('span').title-pos  Я
				+e('p').date
					time(datetime="2015-04-12") 12
					|  -
					time(datetime="2015-04-18")  18
					|  &nbsp;апреля

				+b.btn-link_home(href='#') Купить билет
				+e('p').afterword  ... у нас интересней всего ©Женя

		// I think there might be some play video controls, but I don't know for what purpose...
