section#home.common-screen.screen_home.screen_bg_home
	.container
		// Main info
		.home-info
			h1.home-info__title
				span.home-info__title_text_thin It
				|  Conference
				span.home-info__title_text_thin  И
				|  Я
			p.home-info__date 12 - 18 апреля

			a.btn-link.btn-link_home(href='#') Купить билет
			p.home-info__afterword  ... у нас интересней всего ©Женя
