section#home.common-screen.screen_home
	.container
		// Main info
		.home-info
			h1.home-info__title
				span.home-info__title_text_thin It
				|  Conference
				span.home-info__title_text_thin  И
				|  Я
			p.home-info__date 12 - 18 апреля

			a.btn-link.btn-link_home(href='#') Купить билет
			p.home-info__afterword  ... у нас интересней всего ©Женя

	// Seems like here is some video background with button that appears on hover
	.home-bg
		a.icon.icon_play.icon_play-home(href='#')
			| Смотреть видео
			span  30 сек
		.home-bg__video
			// Here must be some iframe or video element
